/node_modules

node_modules

/public/storage

/public/uploads
/storage/*.key
storage/*.key
/vendor
vendor

.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode