//community -inventory
.inv-community {
    form {
  
      .location-setup{
        
        @media(min-width: 767px){
          width: 75%;
        }
        border: 1px dashed black;
        padding: 10px;
      }
      .farmer-group-setup{
        border: 1px dashed black;
        padding: 10px;
      }
      .input-wrapper {
        label {
          color: #8c98a9;
        }
        input {
          width: 100%;
          padding: 12px; /* Increased padding */
          border: 1px solid #e0e6ff; /* Border color */
          border-radius: 4px;
          background-color: #f9faff; /* Background color */
          margin-bottom: 8px;
          box-sizing: border-box;
        }
      }
      .select-container {
        .input-selector {
          display: inline-block;
          padding: 14px; /* Increased padding */
          border: 1px solid #e0e6ff; /* Border color */
          border-radius: 4px;
          background-color: #f9faff; /* Background color */
          width: 100%;
          &::after {
            content: "\f107"; /* Unicode character for a Font Awesome down arrow */
            font-family: "Font Awesome 5 Free"; /* Font family for Font Awesome icons */
            font-size: 12px;
            color: #555;
            position: absolute;
            top: 50%;
            right: 8px; /* Adjusted margin on the right side */
            transform: translateY(-50%);
            pointer-events: none; /* To ensure the arrow doesn't interfere with select events */
          }
        }
      }
      .dob-select-container {
        input {
          height: 50px;
        }
      }
      .submit-btn {
        transition: all 0.2s;
        width: 100%;
      }
      .submit-btn:hover {
        background-color: #1583be;
      }
    }
  }