//verification page
.verification-wrapper {
    .w-100 {
    }
    .create-acc {
      .create-brief {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;
      }
      .otp-input-box {
        form .input-field {
          flex-direction: row;
          column-gap: 20px;
        }
  
        .input-field input {
          height: 45px;
          width: 42px;
          border: none;
          border-bottom: 2.5px solid #7d7d7e30;
          outline: none;
          font-size: 2.25rem;
          text-align: center;
          text-shadow: 0 #6c63ff5c, 0 1px #6c63ff5c, 1px 0 #6c63ff5c,
            0 -1px #6c63ff5c;
        }
        .input-field input:active {
          font-size: 3rem;
        }
  
        .input-field input::-webkit-inner-spin-button,
        .input-field input::-webkit-outer-spin-button {
          display: none;
        }
  
        form button {
          display: block;
          width: 100%;
          font-size: 1rem;
          border-radius: 6px;
          margin-top: 25px;
          padding: 14px 24px;
          color: #fff;
          background: #00bd6a;
          border: none;
          cursor: pointer;
          border-radius: 30px;
          transition: all 0.2s ease;
          a {
            text-decoration: none !important;
          }
        }
      }
    }
    .login-text {
      color: #616161;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      a {
        color: #4285f4;
      }
    }
  
    .privacy-route {
      color: #beb8b8;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }